{% extends 'basewithnav.html' %}

{% block content %}
  <div class="container">
    <br>
    <h1>Add Slot</h1>
    <br/>
    <form action="" method=POST>
        {% csrf_token %}
            <div class="mb-3">
                <div class="row justify-content-md-center">
                    <label for="exampleInputEmail1" class="form-label">Sport:</label>
                    <input type="text" class="form-control" placeholder="{{ request.session.sport }}" aria-describedby="emailHelp" disabled>
                </div>
            </div> 
            <div class="mb-3">
                <div class="row justify-content-md-center">
                    <label for="exampleInputEmail1" class="form-label">Court:</label>
                    <input type="text" class="form-control" name="court" aria-describedby="emailHelp">
                </div>
            </div> 
            <div class="mb-3">
                <div class="row justify-content-md-center">
                    <label for="exampleSelect" class="form-label">Slot:</label>
                    <select class="form-select" aria-label="Default select example" name="slot">
                        <option selected>Choose slot</option>
                        {% for slot in slots %}
                            <option>{{ slot }}</option>
                        {% endfor %}
                    </select> 
                </div>
            </div>
        <input type="submit" value="Add" class="btn btn-secondary">
    </form>
    <br/><br/>
  </div>
{% endblock %}