{% extends 'basewithnav.html' %}

{% block content %}
    {% if limit %}
        <span style="color: red;">You have reached your daily booking limit.</span>
        <br>
        <br>
    {% endif %}
    <h1>{{ name }}</h1>
    <br>
    {% if request.session.usertype == 'staff' %}
        <div class="container" style="text-align: right;">
            <a class="btn btn-info" href="addslot">+ Add Slot</a>
        </div>
    {% endif %}
    <br>
    {% if not slots %}
    <br><br><br>
        <div class="container" style="text-align: center; font-size: 125%;">
            No slots available
        </div>
    {% endif %}
    {% if slots %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Court</th>
            <th scope="col">Slot</th>
            <th scope="col">Availability</th>
          </tr>
        </thead>
        <tbody>
            {% for slot in slots %}
            <tr>
                <form action="" method=POST>
                    {% csrf_token %}
                    <td>{{ slot.court }}<input type="hidden" name="court" value="{{ slot.court }}"></td>
                    <td>{{ slot.slot }}<input type="hidden" name="slot" value="{{ slot.slot }}"></td>
                    <td>
                        {% if slot.available == "Available" %}
                            {{ slot.available }}
                            <br>
                            {% if not limit %}
                                <input type="submit" value="Book now" name="book" class="btn btn-success btn-sm">
                            {% endif %}
                            {% if limit %}
                                <input type="submit" value="Book now" class="btn btn-success btn-sm" disabled>
                            {% endif %}
                        {% endif %}
                        {% if slot.available == "Not available" %}
                            {% if request.session.usertype == "staff" %}
                                {{ slot.available }}
                                <br>
                                <i>Booked by: {{ slot.bookedby }} &emsp;</i>
                                <input type="hidden" name="bookedby" value="{{ slot.bookedby }}">
                                <input type="submit" class="btn btn-warning btn-sm" name="edit" value="Edit">
                                <input type="submit" class="btn btn-danger btn-sm" name="cancel"  value="Cancel booking">
                            {% endif %}
                            {% if request.session.usertype == "member" %}
                                {% if slot.bookedby|stringformat:'s' == username|stringformat:'s' %}
                                    <span style="color: #14992c; font-weight: bold;"> Your booking has been confirmed</span>
                                {% endif %}
                                {% if slot.bookedby|stringformat:'s' != username|stringformat:'s' %}
                                    <span style="color: #820404">{{ slot.available }}</span>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}