{% extends 'basewithnav.html' %}

{% block content %}
    <h1><span style="color: maroon;">{{ user.firstname }} {{ user.lastname }}:</span> Bookings</h1>
    <br> 
    {% if limit %}
        <span style="color: red;">You have reached your daily booking limit.</span>
        <br>
    {% endif %}
    <br> 
    {% if not bookings %}
    <br><br><br>
        <div class="container" style="text-align: center; font-size: 125%;">
            You don't have any bookings
        </div>
    {% endif %}
    {% if bookings %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Sport</th>
            <th scope="col">Court</th>
            <th scope="col">Slot</th>
          </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
                <tr>
                    <td>{{ booking.sport }}</td>
                    <td>{{ booking.court }}</td>
                    <td>{{ booking.slot }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}